@import '../../../styles/variables';

$height: 16rem;
$width: 20rem;

.container {
  // padding-top: 80px;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 12rem;
  position: relative;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform: translateY(calc($width / -2));
}

.container > div:last-of-type {
  padding-top: 12rem;
}

.hexagon {
  width: $width;
  height: $height;
  // margin: auto;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s ease-in-out;
  transform-origin: 50% 50%;
  perspective-origin: 50% 50%;

  // transform: rotateX(75deg) rotateZ(250.5deg);
  // transform: rotateX(75deg) rotateZ(266.5deg);
  // transform: rotateX(90deg);
}

.side-faces {
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

.top, .bottom {
  position: absolute;
  line-height: 100px;
  text-align: center;
}

.face {
  position: absolute;
  backface-visibility: hidden;
  // width: 175px;
  // height: 100px;
  background: #fff600;  
  box-shadow: inset  10px  0 10px -10px black,
    inset  -10px  0 10px -10px black;
}

// .bottom .face {
//   background: #ff5132;  
// }

// .face:nth-child(2) {
//   transform: rotate(60deg);
// }

// .face:nth-child(3) {
//   transform: rotate(120deg);
// }

.side {
  height: $height;
  width: $width;
  position: absolute;
  
  background: rgba(255, 255, 255, 0.05);
  backface-visibility: hidden;
  // background: #191a1a;
  border-radius: 8px;
  text-align: center;
  line-height: 100px;
  outline: 1px solid transparent;
  color: white;

  // -webkit-perspective: 1000px;
  // text-shadow: 0 0 1px #101010;

}

.active {
  background: $ln-blue !important;

  color: white !important;
  h3 {
    color: white !important;

  }
}

.arrows-wrapper {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  filter: invert(48%) sepia(80%) saturate(3488%) hue-rotate(208deg) brightness(101%) contrast(83%);
}

.arrows-wrapper span {
  cursor: pointer;
}

.arrows-wrapper span:first-of-type {
  rotate: 180deg;
}

.side h3,
.side p {
  // scale: 0.5;
}

.light .side h3,
.light .side p {
  // scale: 0.5;
}

.side h3 {
  // font-size: clamp(2.8rem, 10vw, 3rem);
  font-size: 1rem;
}

.side p {
  transform: translateY(-2rem);
  font-size: 0.6rem;
  padding: 0 1rem;
}

.light .side {
  background: rgba($color: #000000, $alpha: 0.2);
  color: $light-mode-text-color;

}

// .top {
//   transform: translateZ(87px);
// }

// .bottom {
//   transform: rotateZ(60deg) rotateX(180deg) translateZ(87px);
// }

.side:nth-child(1) {
  // transform: rotateY(-90deg) translateZ(87px);
  // transform: rotateY(-90deg) translateZ(120px);
  transform: rotateY(-0deg) translateZ(calc($width)) translateY(calc($width / 2));
}

.side:nth-child(2) {
  // transform: rotateY(-0deg) rotateX(60deg) translateZ(135px) translateY(-28px);
  // transform: rotateY(60deg) rotateX(0deg) translateZ(calc(135px - calc(33.75px / 2)));
  // transform: rotateY(-60deg) rotateX(0deg) translateZ(calc(135px - calc(33.75px / 2)));

  // Gap
  // transform: rotateY(-60deg) rotateX(0deg) translateZ(calc(135px - calc(33.75px / 2)));
  transform: rotateY(-300deg) rotateX(0deg) translateZ(calc($width)) translateY(calc($width / 2));

  // transform: rotateY(-60deg) rotateX(0deg) translateX(calc(-1 * $width / 3 - 2px)) translateZ(calc(192px - calc(21px)));
}

.side:nth-child(3) {
  // transform: rotateZ(180deg) rotateY(-90deg) rotateX(-60deg) translateZ(87px);
  // transform: rotateZ(180deg) rotateY(-90deg) rotateX(-60deg) translateZ(168px) translateY(-28px);
  transform: rotateY(-240deg) rotateX(0deg) translateZ(calc($width)) translateY(calc($width / 2));

  // transform: rotateY(-120deg) rotateX(0deg) translateZ(calc(135px - calc(33.75px / 2)));
  // transform: rotateY(-120deg) rotateX(0deg) translateX(calc(-1 * $width / 3 - 2px)) translateZ(calc($width + 1rem));
}

.side:nth-child(4) {
  // transform: rotateZ(180deg) rotateY(-90deg) translateZ(87px);
  // transform: rotateZ(180deg) rotateY(-90deg) translateZ(184px);
  // transform: rotateY(0deg) translateZ(184px);
  transform: rotateY(-180deg) rotateX(0deg) translateZ(calc($width)) translateY(calc($width / 2));
  // transform: rotateY(-180deg) rotateX(0deg) translateZ(calc($width + 4rem));
}

.side:nth-child(5) {
  // transform: rotateZ(180deg) rotateY(-90deg) rotateX(60deg) translateZ(87px);
  // transform: rotateZ(180deg) rotateY(-90deg) rotateX(60deg) translateZ(168px) translateY(28px);
  transform: rotateY(-120deg) rotateX(0deg) translateZ(calc($width)) translateY(calc($width / 2));
  // transform: rotateY(-240deg) rotateX(0deg) translateX(calc($width / 3)) translateZ(calc($width + 1rem - 2px));

}

.side:nth-child(6) {
  // transform: rotateY(-90deg) rotateX(-60deg) translateZ(87px);
  // transform: rotateY(-90deg) rotateX(-60deg) translateZ(135px) translateY(27.9px);
  transform: rotateY(-60deg) rotateX(0deg) translateZ(calc($width)) translateY(calc($width / 2));
  // transform: rotateY(-300deg) rotateX(0deg) translateX(calc($width / 3 + 1px)) translateZ(calc($width / 2 + 2.75rem));

}

@-webkit-keyframes spinningH {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to{
    transform: rotateX(720deg) rotateY(360deg);
  }
}

@keyframes spinningH {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to{
    transform: rotateX(720deg) rotateY(360deg);
  }
}

.animate {
  -webkit-animation : spinningH 12s infinite linear;
  -moz-animation    : spinningH 12s infinite linear;
  -o-animation      : spinningH 12s infinite linear;
  -ms-animation     : spinningH 12s infinite linear;
  animation         : spinningH 12s infinite linear;
}