@use '../../../styles/breakpoints' as *;
@import '../../../styles/variables';

.wrapper {
  position: relative;
  // margin-bottom: clamp(0rem, 20vw + 1rem, 20rem);
  padding-top: 2rem;
  padding-bottom: 2rem;
  z-index: 1;
}

.wrapper>h4 {
  text-align: center;
  margin: 0 auto;
  margin-top: 4rem;
  max-width: 55ch;
}

.img-wrapper {
  // position: absolute;
  display: grid;
  place-items: center;
  top: 2%;
  left: 50%;
  width: 90%;
  margin: 0 auto;
  margin-top: -6rem;

  @include md {
    margin-top: -14rem;
  }

  // transform: translate(-50%, -50%);
}

.cards-wrapper {
  position: relative;
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  grid-template-columns: 1fr;
  gap: 2rem;
  justify-content: center;

  @include lg {
    gap: 4.5rem;
  }
}

// .card {
//   padding: 1.5rem 1.5rem 3rem;
//   min-height: 12rem;
//   // background: rgba(255, 255, 255, 0.05);
//   // background: linear-gradient(126.3deg, #1A1C22 62%, #0F162A 127.91%);
//   background: $transparent-darker;
//   // backdrop-filter: blur(8px);
//   // backdrop-filter: blur(7.5px);
//   border-radius: 8px;
//   // border-radius: 20px;
//   min-width: 10rem;
//   position: relative;
//   border: solid 1px $ln-blue;
//   // box-shadow: -10px 10px 10px rgba($color: $ln-blue, $alpha: 0.25);

//   // @include lg {
//   //   position: relative;
//   // }
// }

// .light .card {
//   background: $transparent-light;
//   border: transparent;
// }

// .card>div {
//   position: relative;
//   z-index: 1;
// }

// .icon-wrapper {
//   background: rgba(239, 228, 252, 0.1);
//   border-radius: 50%;
//   padding: 0.75rem;
//   font-size: 3rem;
//   margin-bottom: 1rem;
//   color: #58a660;
//   // box-shadow: 3px 0px 3px rgba($color: gold, $alpha: 0.75);
//   max-width: 4rem;
//   // max-height: 4rem;
//   aspect-ratio: 1;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .card h4 {
//   font-size: clamp(1.5rem, 5vw + 1rem, 1.75rem);
//   font-weight: 500;
//   line-height: 2.25ch;
// }

// .card p {
//   font-size: clamp(0.75rem, 5vw + 1rem, 0.75rem);
//   margin-top: 0.5rem;
//   // margin-top: 2rem;
// }

// .connector {
//   display: none;
//   // display: block;
//   position: absolute;
//   z-index: 1;

//   // @include lg {
//   //   display: block;
//   //   position: absolute;
//   //   z-index: 1;
//   //   max-width: 8.5rem;
//   // }

//   // @include xl {
//   //   max-width: 10rem;
//   // }
// }

.light .connector {
  // filter: invert(1);
  filter: invert(77%) sepia(35%) saturate(294%) hue-rotate(190deg) brightness(103%) contrast(102%);
}

@media only screen and (min-width: 512px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1120px) {
  .card {
    position: relative;
  }

  .connector {
    display: block;
    position: absolute;
    z-index: 1;
  }

  .connector:nth-of-type(1) {
    top: 5%;
    // left: 27%;
    left: 20%;
    max-width: 10rem;
  }

  .connector:nth-of-type(2) {
    bottom: -1%;
    // left: 55%;
    left: 41%;
    max-width: 10rem;

    // @include lg {
    //   left: 57%;
    // }

    // @include xl {
    //   left: 61%;
    // }
  }

  .connector:nth-of-type(3) {
    bottom: -5%;
    right: 25%;
    // top: 1%;
    // right: 12%;
    max-width: 10rem;
    transform: rotate(-135deg);
  }
}