@use '../../../styles/breakpoints' as *;
@use '../../../styles/variables' as *;

.wrapper {
  h4 {
    padding: 0.4rem 0 1rem;
  }
}

.title {
  text-align: center;
}

.header {
  text-align: left !important;

  @include md {
    text-align: center;
  }
}

.bullet-wrapper {
  display: flex;
  flex-direction: column;

  @include md {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}

.img-wrapper {
  max-width: 3rem;
  padding: 4rem 0 0;

  @include md {
    margin: 0 auto;
  }

  @include lg {
    margin: auto;
  }
}

.layout {
  display: grid;

  @include md {
    gap: 1rem;
  }

  @include lg {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
}

.list-wrapper {
  @include md {
    margin: 0 auto;
  }

  li::marker {
    color: $ln-blue;
    font-size: 1.3rem;
  }

  padding-left: 1rem;
}
