@use '../../../styles/colors' as *;
@use '../../../styles/breakpoints' as *;
@use '../../../styles/variables' as *;

.wrapper {
  position: relative;
  align-items: center;
  background: $gray--2;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.light.wrapper {
  background: $semi-transparent-blue;
}

.grid {
  display: grid;
  gap: 2rem;

  @include lg {
    grid-template-columns: 2fr 1fr;
    gap: 6rem;
  }
}

.grid img {
  // max-width: 20rem;

}

.wrapper h2 {
  padding-bottom: 2rem;
}

.wrapper>p {
  max-width: 58ch;
  font-size: 0.9rem;
}

.wrapper p {
  color: $gray--13;
}

.light p {
  color: $light-mode-text-color;
}

.slide-wrapper {
  position: relative;
  display: grid;
  padding-top: 2rem;
  align-items: center;

  @include lg {
    grid-template-columns: 1fr 2fr;
    padding-left: 2rem;

  }
}

.tabs-wrapper button {
  text-transform: capitalize;
  max-width: 10rem;
}

.tabs-wrapper>div>div {
  flex-wrap: wrap;
}

.light .tabs-wrapper button {
  color: $blue--3 !important;
}

// .fade-slider {
//   max-width: 16rem;
//   margin-bottom: 4rem;

//   @include lg {
//     margin: 0 auto 0 0 !important;

//   }
// }

// .fade-slider>div:last-of-type {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.img-wrapper {
  max-width: 16rem;
}

.text-wrapper {
  max-width: 38rem;
  margin: 0 auto;
}

.tabs-wrapper>div>span {
  background-color: $blue--2;
}

.light .tabs-wrapper>div>span {
  background-color: $blue--3;
}

// .wrapper img {
//   max-width: 60% !important;
//   margin: 0 auto;

//   @include md {
//     max-width: 100% !important;

//   }
// }