@use '../../../styles/breakpoints' as *;
@import '../../../styles/variables';

.app-wrapper {
  position: relative;
  padding-bottom: 16rem;
  gap: 2rem !important;
  padding-top: 5rem;

  @include md {
    padding-top: 8rem;
  }
}

.image {
  padding: 5rem 0 0;

  @include md {
    transform: translateX(8%);
  }

  @include lg {
    transform: translateX(15%);
  }

  @include breakpoint(1200px) {
    transform: translateX(20%);
  }
}

.app-wrapper > h4 {
  max-width: 60ch;
  margin: 0 auto;
}

.app-wrapper.light {
  // background-image: linear-gradient(rgba($color: black, $alpha: 0.2), transparent 30%);
  background: $light-mode-primary;
}

.circle {
  top: 0;
  right: 0;
}

.waves-wrapper {
  position: absolute;
  top: -0%;
  // right: -100%;
  right: -600px;
  rotate: 290deg;
  opacity: 0.5;
  // max-width: 60%;
  // width: 200%;
}

.app-wrapper .floater {
  top: 75%;
  left: 85%;
}

.app-wrapper .grid {
  position: relative;
  margin-bottom: 2rem;
}

.app-wrapper .grid:nth-of-type(2n) {
  grid-template-columns: 4fr 1fr;
}

.app-wrapper .grid:nth-of-type(2n) .clear-container {
  order: -1;
}

.app-wrapper .grid .clear-container {
  max-width: none;
  gap: 1rem;
}

.mockup-wrapper {
  img {
    margin-top: -2rem;
    scale: 0.8;
    transform: translateY(5%) !important;
  }
}

.alternating-rows:nth-of-type(2) img {
  // font-size: 1.5rem;
  transform: translateX(8%) !important;
}

@media (min-width: 768px) {
  .app-wrapper .grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    // gap: 6rem;
    align-items: center;
  }

  .app-wrapper .waves-bg {
    top: -10%;
    left: -35%;
    transform: rotate(30deg);
    width: 100%;
  }

  .app-wrapper .grid .clear-container {
    max-width: none;
    // max-height: 21rem;
    gap: 1rem;
  }

  .app-wrapper .grid .clear-container h4 {
    font-size: 1.5rem;
    // width: 100%;
  }

  .app-wrapper .grid img {
    // font-size: 1.5rem;
    transform: translateX(-10%) scale(2);
    // width: 200%;
  }

  .app-wrapper .grid:nth-of-type(2) img {
    // font-size: 1.5rem;
    transform: translateX(-20%);
  }
}
