@use '../../../styles/breakpoints' as *;
@use '../../../styles/colors' as *;
@use '../../../styles/variables' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include md {
    gap: 2rem;
  }
}