@use '../../../styles/variables' as *;
@use '../../../styles/breakpoints' as *;
@use '../../../styles/colors' as *;

.section {
  padding-top: 8rem;
  position: relative;
}

.section h2 {
  text-align: center;
}

.cards-wrapper {
  display: grid;
  justify-content: center;
  gap: 10rem;
  padding-top: 8rem;
  padding-bottom: 8rem;

  @include md {
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }
}

.card {
  max-width: 19rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card:nth-of-type(4),
.card:nth-of-type(5) {
  @include md {
    translate: calc(100% - (100% / 3)) 0;
  }
}

.card img {
  max-width: 4rem;
}

.card h3 {
  font-family: 'montserrat', serif;
  font-weight: 600;
  font-size: clamp(1.1rem, 2vw, 1.25rem) !important;
  max-width: 16ch;
}

.card span {
  display: block;
  max-width: 25ch;
  margin: auto;
  font-size: 0.75rem;
  padding: 0.5rem 0.5rem 0;
  color: $gray--9;
}

.svg-wrapper {
  background: transparent;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.svg-wrapper .svg {
  width: 19rem;

  @include lg {
    width: 20rem;
  }
}

.svg-wrapper .svg {
  position: relative;
  z-index: 1;
}

.svg-wrapper .svg .solid {
  visibility: hidden;
  fill: transparent;
  stroke-width: 1;
  // stroke-dasharray: 1500;
  stroke-dashoffset: 0;
}

.svg-wrapper .svg:hover .solid {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: animate-border 0.9s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards;
}

.light .svg:hover .solid {
  animation: animate-border--light 0.9s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards;
}

@keyframes animate-border {
  0% {
    visibility: visible;
    stroke-width: 1;
    stroke: white;
  }

  85% {
    stroke-width: 1;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-width: 2.75;
    stroke-dashoffset: 0;
    stroke: white;
    visibility: visible;
  }
}

@keyframes animate-border--light {
  0% {
    visibility: visible;
    stroke-width: 1;
    stroke: $blue--2;
  }

  85% {
    stroke-width: 1;
    stroke-dashoffset: 0;
  }

  100% {
    stroke-width: 2.75;
    stroke-dashoffset: 0;
    stroke: $blue--2;
    visibility: visible;
  }
}