@use '../../../styles/colors' as *;
@import '../../../styles/breakpoints';
@import '../../../styles/variables';

.meet-team {
  // padding: 6rem 4rem;
  position: relative;
  // margin-top: -32vw;
  padding-top: 4rem;
  margin-bottom: 8rem;
  z-index: 1;
  // background: linear-gradient(rgba($color: $ln-blue, $alpha: 0.2), transparent);
}

.meet-team.light {
  background: linear-gradient(rgba($color: $light-mode-primary, $alpha: 0.2), transparent);
}

.meet-team h2 {
  // text-align: center;
  margin-bottom: 2rem;
}

.sliders-wrapper {
  display: grid;
  // overflow-x: hidden;
  // overflow-y: visible;
  gap: 8rem;
}