@use '../../../styles/breakpoints' as *;
@use '../../../styles/colors' as *;
@use '../../../styles/variables' as *;

.staking-section {
  position: relative;
  background: $gray--1;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  @include lg {
    place-items: center;
    display: grid;
    grid-template-columns: 0.95fr 1fr;
    gap: 4rem;
  }
}

.light.staking-section {
  background: $light-mode-primary;
}

.gradient {
  top: 0%;
  left: 54%;
  translate: -50% 0;

  @include lg {
    top: 15%;
    left: 20%;
    max-width: 50%;
  }
}

.light .gradient {
  opacity: 0.5;
}

.light p {
  color: $light-mode-text-color;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 100%;

  @include lg {
    max-width: 20rem;
  }
}

.img-wrapper img {
  max-height: 28rem;
  object-fit: contain;

  @include lg {
    max-height: 80vh;
  }
}

.content-left {
  position: relative;
  height: 100%;
  min-width: 10rem;
}

.content-right {
  position: relative;
  display: flex;
  flex-direction: column;
}

.content-right h2 {
  @include lg {
    white-space: nowrap;
    padding-left: 1rem;
  }
}

.steps-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  padding-top: 2rem;
  margin-left: 1.5rem;

  @include lg {
    gap: 2rem;
  }
}

.step h3 {
  font-family: 'montserrat', serif;
  font-weight: 600;
}

.number {
  color: $blue--2;

  @include md {
    padding-left: 1rem;
  }
}

.title-wrapper {
  position: relative;
}

.title {
  padding-left: 1rem;
}

.check {
  position: absolute;
  width: 1.15rem;
  height: 1.15rem;
  padding: 0.15rem;
  background: $green--2;
  top: 0.4rem;
  left: -1rem;
  border-radius: 50%;
  color: black;
}

.description {
  color: $gray--9;
  border-left: 2px dashed $gray--12;
  padding: 1.5rem;
  margin-left: -0.5rem;
  margin-top: 1rem;
  max-width: 47ch;
}
