@use '../../../styles/breakpoints' as *;
@use '../../../styles/variables' as *;
@use '../../../styles/colors' as *;

.wrapper {
  background: transparent !important;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.tabs-wrapper {
  overflow-x: auto !important;
}

.products-title {
  text-align: center;
  font-size: 3rem;
  padding-bottom: 2rem;
}

.tab-list {
  margin-top: 1rem;
  overflow-x: auto !important;
  // display: none;

  // @include lg {
  //   display: block;
  // }
}

// .tab-list span {
//   display: none;

//   @include breakpoint(1120px) {
//     display: block;
//   }
// }

.tab-list div div {
  display: flex;
  flex-direction: column;

  @include breakpoint(1120px) {
    flex-direction: row;
  }
}

.tab-item {
  background: transparent;
}

.light .tab-item {
  background: $light-mode-tertiary;
}

.tab-list button {
  margin: 0 auto;
}

.tab-list button:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: inline-block;
  height: 2px;
  left: 10 !important;
  position: absolute;
  background: $ln-blue;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.tab-list button:hover:after {
  width: 50%;
  left: 25%;
}

.panel-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  width: 100%;
  // text-align: center;

  @include breakpoint(1120px) {
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }
}

.legacy-wallet-subtitle {
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
}

.legacy-main-text {
  padding-top: 1rem;
}

.left-content,
.right-content {
  display: flex;
  align-items: center;
  flex: 1;
  height: 100%;
  align-items: center;
  // margin: 0 auto;
}

// .MuiTabs-scroller {
//   overflow-x: auto;
// }

.image-wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 20rem;

  @include lg {
    max-width: 25rem;
  }
}

.nft-wrapper {
  width: 100%;
  margin: 0 auto;
}

.nft-panel {
  @include breakpoint(1120px) {
    display: flex !important;
    align-items: center;
  }
}

.nft-right {
  padding: 3rem 0 2rem;

  @include breakpoint(1120px) {
    padding: 0 2rem;
  }
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.managing-mockup {
  max-width: 15rem;
}

.products-button {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.tab-summary {
  background: #242424;
  border-radius: 8px;
}

.light .tab-summary {
  background: $light-mode-primary;
}

// .image-slider-mobile,
// .nft-right-mobile {
//   display: block;

//   @include breakpoint(1120px) {
//     display: none !important;
//   }
// }

// .image-slider-desktop,
// .nft-right-desktop {
//   display: none !important;

//   @include breakpoint(1120px) {
//     display: block !important;
//   }
// }

.fade-slider h4 {
  font-family: 'Fjalla', serif;
}

.fade-slider .swiper-horizontal > .swiper-pagination-bullets {
  bottom: -8px !important;
}

.fade-slider .swiper-pagination-bullet {
  border: 1px solid white;
}

.fade-slider .swiper-pagination-bullet-active {
  background: white !important;
}

.light .card p {
  color: $light-mode-text-color !important;
}

.panel-wrapper {
  // display: none;

  // @include breakpoint(1120px) {
  display: block;
  // }
}

.panel-spacing {
  @include lg {
    padding: 2rem;
  }
}

.nft-button-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;

  @include sm {
    transform: translateY(-1.5rem);
  }
}

.arrow-wrapper {
  background: transparent;
  border: none;
  width: 100%;
  max-width: 1.25rem;
}

.arrow-left-wrapper {
  background: transparent;
  border: none;
  width: 100%;
  max-width: 1.25rem;
}

.arrow-right-wrapper {
  background: transparent;
  border: none;
  width: 100%;
  max-width: 1.25rem;
}

.arrow-left {
  display: block;
  // position: absolute;
  left: 2.5rem;
  top: 25.85rem;
}

.arrow-right {
  display: block;
  // position: absolute;
  left: 19.5rem;
  top: 25.85rem;
}

.slide-wrapper {
  width: 100%;
}

.slide {
  scale: 1.2;
  transform: translateY(-1.5rem);
}

.slide-text {
  text-align: center;
}

.circle-slider-wrapper {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding-top: 1rem;
}

.circle-slider {
  background: $gray--8;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: block;
  // border: solid 1px white;
}

.light .circle-slider {
  background: $light-mode-primary;
}

.circle-active {
  background: white;
}

.light .circle-active {
  background: $sky-blue;
}
