@use '../../../styles/breakpoints' as *;
@use '../../../styles/colors' as *;
@use '../../../styles/buttons' as *;
@use '../../../styles/variables' as *;

.section {
  position: relative;
  padding: 4rem 0 0;

  background: $gray--2;

  @include lg {
    padding-top: 8rem;
  }
}

.light.section {
  background: $semi-transparent-blue !important;
}

.section>div:last-of-type {
  position: relative;
}

.section h2 {
  max-width: 40ch;
  padding-bottom: 4rem;
}

.section h3 {
  font-size: clamp(1.75rem, 5vw, 2.25rem);
  padding-bottom: 0.75rem;
}

.section p {
  color: $gray;
  max-width: 40ch;
}

.solution {
  padding: 1rem 0 0 0;
}

.questions-wrapper {
  @include lg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
  }
}

.question {
  padding-bottom: 2rem;
}

// .wrapper div:last-of-type {
//   max-width: 22rem;
//   text-align: center;
// }

.button {
  max-width: 16rem;
}

.button-wrapper {
  position: relative;
}

.wrapper {
  position: relative;
}

.section.light {
  background: linear-gradient(transparent 60%,
      rgba($color: $light-mode-primary, $alpha: 1));
}

.section.light>div:last-of-type {
  background: none;
  position: relative;
}

.section.light p {
  color: $gray-dark;
}

.spacing-y {
  padding-bottom: 3rem;

  button {
    max-width: 16rem;
  }
}

.btn-wrapper p {
  color: white !important;
}

.p {
  max-width: 100% !important;
}

.main-title {
  // font-size: 2.5rem;
  max-width: 30ch !important;
}

.sub-title {
  font-size: 1.5rem !important;
  font-family: 'Montserrat', serif;
}