@use '../../../styles/variables' as *;
@use '../../../styles/breakpoints' as *;
@use '../../../styles/colors' as *;

.wrapper {
  text-align: center;
  margin-bottom: 8rem;

  h3 {
    padding: 1rem 0;
  }
}

.grid {
  margin: 4rem 0;
  gap: 4rem;
}

.grid img {
  max-width: 3rem;
  margin-bottom: 1rem;
  aspect-ratio: 1;
}

.grid p {
  color: #acacac;
}

.light .grid p {
  color: #62688f;
}

.light .grid img {
  // filter: invert(0.5);
  // filter: invert(48%) sepia(80%) saturate(3488%) hue-rotate(208deg) brightness(101%) contrast(83%);
  filter: invert(50%) sepia(12%) saturate(4821%) hue-rotate(196deg)
    brightness(95%) contrast(93%);
}
