@use '../../../styles/breakpoints' as *;
@use '../../../styles/colors' as *;
@use '../../../styles/buttons' as *;

.section {
  padding: 8rem 3rem 2rem;

  h2 {
    padding: 1rem 0 3.25rem;
    font-size: 2.9rem;
    line-height: 2.5rem;
  }

  h3 {
    font-family: 'Din condensed', serif !important;
    font-size: 1.8rem;

    @include lg {
      font-size: 2.5rem;
    }
  }

  p {
    padding: 1rem 0 2rem;
    color: $gray;

    @include lg {
      font-size: 1.5rem;
      line-height: 2.2rem;
    }

    &:last-of-type {
      padding: 0.5rem 0 1rem 0;
    }
  }

  button {
    @include btn-blue();
  }
}
