@use '../../../styles/breakpoints' as *;
@use '../../../styles/colors' as *;

.wrapper {
  display: grid;
  align-items: center;
  position: relative;
  background: rgba(48, 48, 48, 0.31);
  backdrop-filter: blur(5px);
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: left;

  @include md {
    grid-template-columns: 2fr 1fr;
    padding-bottom: 3rem;

  }
}

.wrapper h2 {
  max-width: 30ch;
}

.wrapper svg {
  width: 100%;
  // max-width: 20rem;

  @include md {
    max-height: 14rem;
    max-width: 100%;
    scale: 1.5;
  }
}

// .wrapper img {
//   display: block;
//   margin: auto;
//   max-width: 20rem;
//   // right: 0;

//   @include md {
//     // position: absolute;
//     // bottom: 0;
//     // right: 12%;
//     scale: 1.5;
//   }
// }

.wrapper ul {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 2rem;
  font-size: clamp(1rem, 2vw, 1.25rem);
}

.wrapper ul li {
  list-style: none !important;
  position: relative;
}

.wrapper ul li::before {
  content: '';
  position: absolute;
  top: 0.4rem;
  left: -1.5rem;
  width: 0.6rem;
  height: 0.6rem;
  background-color: white;
  border-radius: 50%;
}