@use '../../../styles/breakpoints' as *;
@use '../../../styles/colors' as *;
@use '../../../styles/buttons' as *;
@use '../../../styles/variables' as *;

.section {
  // padding: 8rem 3rem 2rem;
  padding-bottom: 8rem;
  position: relative;
  z-index: 1;

  h2 {
    // padding: 1rem 3rem 3.25rem;
    // font-size: 2rem;
    // line-height: 2.5rem;

    // @include md {
    //   font-size: 2.6rem;
    // }
  }

  & > h3 {
    text-align: center;
    margin-bottom: 4rem;
    // padding: 3rem 0 0;
    // font-family: 'Din condensed', serif !important;
    // font-size: 1.8rem;

    // @include lg {
    //   font-size: 2.5rem;
    // }
  }

  h4 {
    font-size: 1.2rem;
  }

  .content {
    padding: 1.5rem 0;

    @include md {
      display: grid;
      grid-template-columns: 1.3fr 2fr;
      place-items: center;

      @include md {
        display: grid;
        grid-template-columns: 1.3fr 2fr;
      }

      .imagereverse {
        order: 1;

        img {
          max-width: 30rem;
          padding: 3rem 0 0;
        }
      }
    }
  }

  .imgwrapper {
    max-width: 250px;
    margin: 0 auto;

    @include md {
      // max-width: 384px;

      img {
        object-fit: cover;
      }
    }

    @include lg {
      width: 100%;
    }
  }

  // p {
  //   color: $gray;
  // }

  button {
    // @include btn-blue();
    margin: 0 0 3.5rem;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
  }

  .icons img {
    max-width: 10.125rem;
    padding: 0 0.65rem 0 0;
  }
}
