@use '../../styles/breakpoints' as *;
@import '../../styles/variables';

.navbar {
  position: fixed;
  z-index: 10;
  top: -100vh;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 2rem;
  width: 100vw;
  min-height: 4rem;
  height: 100vh;
  // max-height: 8rem;
  background: rgba($color: #000000, $alpha: 0.75);
  color: $dark-mode-text-color;
  font-family: 'Source Sans Pro', sans-serif;
  backdrop-filter: blur(8px);
  transition: top ease-in-out 0.75s !important;

  @include lg {
    gap: 1.8rem;
  }
}

.align_navbar {
  display: flex;
  align-items: baseline;
  transform: translateX(0%);

  @include md {
    transform: translateX(-5.7rem) !important;
  }

  @include lg {
    transform: translateX(-6rem) !important;
  }

  @include lg {
    transform: translateX(-7rem) !important;
  }

  @include breakpoint(1700px) {
    transform: translateX(-6rem);
  }
}

.align_navbar span {
  font-size: 0.9rem !important;

  @include lg {
    font-size: 0.8rem !important;
  }

  @include xl {
    font-size: 1rem !important;
  }
}

.navbar.open {
  top: 0;
}

.navbar.light {
  // background: rgba($color: #dde3f9, $alpha: 0.85);
  background: rgba($color: #8db2fc, $alpha: 0.2);
}

.navbar.light a {
  color: $light-mode-text-color;
}

.navbar > div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.navbar > img {
  width: 4rem;
}

.navbar a,
.navbar span {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-family: 'montserrat', serif !important;
  font-size: 0.75rem;
  transition: color 0.3s ease-in-out;

  @include lg {
    font-size: 0.8rem;
  }

  @include xl {
    font-size: 1rem;
  }
}

.navbar.light span {
  color: $light-mode-text-color;
}

.navbar a:hover {
  color: $ln-blue;
}

.navbar__logo__wrapper {
  width: 2.5rem;
  cursor: pointer;
}

.community {
  @include lg {
    font-size: 0.8rem !important;
    // transform: translateY(-1.5rem);
    margin: -1.75rem 0 0.5rem;
    border-radius: 4px;
    padding: 0 1rem 1.35rem 0.4rem;
    background: rgba($color: #000000, $alpha: 0.75);
  }

  @include xl {
    font-size: 1rem !important;
  }
}

.partners {
  @include lg {
    font-size: 0.8rem !important;
    transform: translateY(-1.5rem);
    margin: -1.5rem 0 0.5rem;
    border-radius: 4px;
    padding: 0 2.7rem 0.75rem 0.4rem;
    background: rgba($color: #000000, $alpha: 0.75);
  }

  @include xl {
    font-size: 1rem !important;
  }
}

.boards-wrapper {
  position: relative;
}

.boards-wrapper > div {
  display: none;
  position: absolute;
  top: 2.9rem;
  left: -0.5rem;
  background: rgba($color: #000000, $alpha: 0.75);
  padding: 1rem 0;

  @include lg {
    top: 2.15rem;
  }

  @include xl {
    padding: 0;
  }
}

.light .boards-wrapper > div {
  background: rgba($color: #8db2fc, $alpha: 0.2);
}

.boards-wrapper:hover > div {
  display: grid;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.boards-wrapper > div > span {
  // padding: 0.5rem 0.15rem;
  display: none;

  @include lg {
    display: block;
    // padding: 0.5rem 1rem 1.5rem 0.5rem;
    // margin-top: 1rem;
    border-radius: 0;
    font-size: 0.8rem !important;
    transform: translateY(1.5rem);
  }

  @include xl {
  }
}

// .boards-wrapper > div > span:first-child {
//   padding: 0.5rem 0.15rem;
//   display: none;

//   @include lg {
//     display: block;
//     // background: red !important;
//     padding: 0.5rem 1rem 1.5rem 0.5rem;
//     // margin-top: 1rem;
//     border-radius: 0;
//     font-size: 0.8rem !important;
//     // transform: translateY(1.5rem);
//   }

//   @include xl {
//   }
// }

.burger-wrapper {
  position: fixed;
  z-index: 11;
  top: 40px;
  right: 32px;
  width: 30px;
  height: 28px;
  cursor: pointer;
  background: transparent;
  border: transparent;
}

.burger-wrapper.light .burger-icon,
.burger-wrapper.light .burger-icon::before,
.burger-wrapper.light .burger-icon::after {
  background: #333;
}

.burger-icon-wrapper {
  position: relative;
}

.burger-icon {
  position: absolute;
  top: 0px;
  right: 0;
  // transform: translateX(-50%);
  height: 2px;
  width: 30px;
  background: white;
  transition: background-color 0.3s ease-in-out !important;
}

.burger-icon::before {
  content: '';
  position: absolute;
  top: -12px;
  right: 0%;
  // transform: translate(-50%, -0%);
  height: 2px;
  width: 30px;
  background: white;
  transition: background-color 0.3s ease-in-out !important;
}

.burger-icon::after {
  content: '';
  position: absolute;
  top: 12px;
  right: 0%;
  // transform: translate(-50%, -0%);
  height: 2px;
  width: 30px;
  background: white;
  transition: background-color 0.3s ease-in-out !important;
}

.dark-mode-toggle {
  position: absolute;
  top: 2rem;
  right: 5rem;
  border: 1px solid white;
  padding: 0.5rem;
  background: rgba($color: #000000, $alpha: 0.75);
  border-radius: 12px;
  cursor: pointer;

  @include lg {
    position: static;
  }
}

.dark-mode-toggle.light {
  border: 1px solid #1643bf !important;
  padding: 0.5rem;
  background: rgba($color: #8db2fc, $alpha: 0.2);
  border-radius: 12px;
}

.active a {
  color: $ln-blue !important;
  font-weight: 800;
  position: relative;
}

.active a::after {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 80%;
  height: 2px;
  background: $ln-blue;
}

.win {
  right: 140px;
  display: grid !important;
  place-items: center !important;
  justify-content: center !important;
  position: absolute;
  padding: 0 0.5rem;
  border-radius: 14px;
  height: 2.75rem;
  max-width: 4rem !important;
  width: 100%;
  top: 0.75rem;

  @include lg {
    right: 255px;
    top: -1.5px;
    padding: 0 0 0 1rem !important;
    max-width: 4rem !important;
  }

  @include xl {
    right: 325px;
    min-width: 7rem !important;
    max-width: 8rem !important;
    font-size: 1rem !important;
    max-width: 8rem !important;
    padding: 0 0 0 1.25rem !important;
  }
}

.win p {
  @include lg {
    font-size: 0.688rem !important;
  }

  @include xl {
    font-size: 1rem !important;
  }
}

.win span {
  color: white !important;
  font-size: 0.9rem;

  @include md {
    font-size: 1rem;
  }

  @include lg {
    font-size: 0.688rem !important;
  }

  @include xl {
    font-size: 1rem;
  }
}

.light .win span {
  color: $dark-mode-text-color !important;
}

@media only screen and (min-width: 1024px) {
  .navbar {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 2.5rem 4rem;
    height: 4rem;
    top: 0;
  }

  .navbar > div {
    flex-direction: row;
    gap: 2.5rem;

    @include lg {
      gap: 1.7rem;
    }

    @include xl {
      gap: 2.5rem;
    }
  }

  .scroll-down {
    top: -64px;
  }
}

.coming {
  // background: red;

  p {
    margin-top: 0;
    padding: 0;
  }
}

.img-wrapper {
  position: absolute;
  scale: 0.45;
  left: -95%;
  // bottom: -55%;
  top: -10%;
}

.coming {
  margin: 0;
}

.win {
  padding: 0 0 0 1.25rem !important;
  max-width: 6rem !important;
  border-radius: 8px !important;
  display: inline-block;
  border: none;
  text-decoration: none;
  background: #1960ea;
  color: white;
  text-align: center;
  padding: 0.6rem 0;
  width: 100%;
  max-width: 13rem;
  margin-top: 1.25rem;
  border-radius: 4px;
  font-size: 0.9rem;
  font-family: 'Montserrat', serif !important;
  font-weight: 600;
  text-transform: capitalize;

  @include lg {
    font-size: 0.688rem !important;
    max-width: 4rem !important;
    padding: 0 0 0 1rem !important;
  }

  @include xl {
    max-width: 7rem !important;
    font-size: 1rem;
    padding: 0 0 0 1.25rem !important;
  }
}

.light .win {
  background: $light-mode-secondary;
}

.wallet span {
  color: $ln-blue !important;

  @include lg {
    font-size: 0.688rem !important;
  }

  @include xl {
    font-size: 1rem !important;
  }
}

.light .wallet span {
  color: $light-mode-secondary !important;
}

.wallet {
  outline: 0 !important;
  max-height: 2.89rem !important;
  background: transparent !important;
  border: 1px solid $ln-blue !important;
  align-items: center !important;
  display: flex !important;
  justify-content: center !important;
  display: inline-block !important;
  text-decoration: none !important;
  text-align: center !important;
  max-width: 100% !important;
  padding: 0.83rem 0 0.85rem !important;
  width: 100% !important;
  min-width: 10rem !important;
  margin-top: 1.25rem !important;
  border-radius: 4px !important;
  font-size: 0.9rem !important;
  font-family: 'Montserrat', serif !important;
  font-weight: 600 !important;
  text-transform: capitalize !important;

  @include md {
    min-width: 9.5rem !important;
    max-width: 20rem !important;
    position: absolute !important;
    top: 0 !important;
    max-width: 5rem !important;
    right: 14rem !important;
    margin-top: -24.25rem !important;
    padding: 0.83rem 0 !important;
  }

  @include lg {
    min-width: 7.5rem !important;
    transform: translateX(9.9rem) !important;
    margin-top: 0 !important;
    top: 22% !important;
    white-space: nowrap !important;
    right: 9.2rem !important;
  }

  @include xl {
    font-size: 1rem !important;
    min-width: 11rem !important;
    max-width: 20rem !important;
    right: 8.75rem !important;
  }
}

.light .wallet {
  border: 1px solid $light-mode-secondary !important;
}

.wallet svg {
  stroke-width: 4px !important;
  transform: translate(5px, 1.5px) !important;
}
