@use '../../../styles/colors' as *;
@use '../../../styles/breakpoints' as *;
@use '../../../styles/variables' as *;

.wrapper {
  position: relative;
  padding-top: 8rem;
}

.wrapper h2 {
  padding-bottom: 2rem;
}

.wrapper>p {
  max-width: 58ch;
}

.wrapper p {
  color: $gray--12;
}

.light p {
  color: $light-mode-text-color;
}

.grid {
  padding: 2rem 0;
  display: grid;
  gap: 2rem;

  @include lg {
    grid-template-columns: repeat(2, 1fr);
    padding: 4rem 0;
  }

  @include lg {
    grid-template-columns: repeat(3, 1fr);
    padding: 4rem 0;
    gap: 6rem 3.5rem;
  }
}

.item {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
}

.item>span {
  display: block;
  width: 100%;
  max-width: 9rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 4px;
  color: $gray--14;
  font-size: 0.8rem;
  background: $gray--3;
}

.light .item>span {
  background: $semi-transparent-blue;
}

.item h3 {
  font-size: 1.5rem;
  position: relative;
  font-family: 'Montserrat', serif;
  font-weight: 500;
  padding-bottom: 1rem;
}

.item h3::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 5.75rem;
  height: 3px;
  background: $blue--2;
}

.light .item::after {
  background: $blue--3;
}

.list {
  flex-direction: row;
}

.list-item {
  color: $blue--2;
  font-size: 0.9rem;
}

.light .light-item {
  color: $blue--3;
}

.wrapper button {
  // background: #000;
}