@use '../../styles/breakpoints' as *;
@use '../../styles/variables' as *;
@use '../../styles/colors' as *;

.container {
  position: relative;
  z-index: 1;
}

.header {
  position: relative;
}

.subtitle {
  font-weight: 400;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  max-width: 44ch;
  font-family: 'Montserrat', serif;
  color: $blue--2;
}

.light .subtitle {
  color: $light-mode-secondary;
}

.header span {
  font-family: 'fjalla', serif;
}

.logo-img {
  @include lg {
    display: none;
  }
}

.logo-img svg {
  width: 100%;
}

.gradient {
  top: 0%;
  transform: translate(-50%, 0%);
  // transform: translate(0, -50%);
  right: -100%;
  width: 150%;

  @include md {
    top: -0%;
    right: -20%;
    transform: none;
    width: 100%;
    // max-width: 80%;
  }

  @include lg {
    top: -12%;
    right: -5%;
    transform: none;
    width: 100%;
    max-width: 80%;
  }
}

.title-wrapper h1 {
  color: white !important;
  background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: glowdark 2600ms linear infinite 2000ms;

  @keyframes glowdark {
    40% {
      text-shadow: 0 0 10px white;
    }
  }
}

.light .title-wrapper h1 {
  color: $light-mode-secondary !important;
  background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: glowlight 2600ms linear infinite 2000ms;

  @keyframes glowlight {
    40% {
      text-shadow: 0 0 10px $light-mode-secondary;
    }
  }
}