@use '../../styles/breakpoints' as *;
@import '../../styles/variables';

.container {
  position: relative;
  z-index: 1;
}

.header {
  position: relative;
}

.legacy {
  font-size: 5.2rem;
  line-height: 5.1rem;
}

.subtitle {
  font-size: 1.5rem;
  color: $light-mode-secondary;
}

.header h4 {
  font-size: 1.2rem;
  max-width: 44ch;
  font-weight: 400;
  text-transform: uppercase;
}

.light h4 {
  color: $light-mode-secondary;
}

.header span {
  font-family: 'fjalla', serif;
}

.title-wrapper {
  color: white;
  background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: 'Fjalla One', sans-serif;
  animation: glow 2600ms linear infinite 2000ms;

  @keyframes glow {
    40% {
      text-shadow: 0 0 10px #fff;
    }
  }
}