@use '../../../styles/breakpoints' as *;
@use '../../../styles/colors' as *;
@use '../../../styles/variables';

.partners {
  position: relative;
  z-index: 1;
}

.partners h3 {
  text-align: center;
  padding-bottom: 2rem;
}

// .logos-wrapper {
//   display: grid;
//   align-items: center;
//   justify-items: center;
//   gap: 2rem 2rem;
//   padding-top: 2rem;
//   padding-bottom: 2rem;
//   grid-template-columns: 1fr;
//   grid-template-columns: repeat(2, 1fr);
//   background-image: url('../../../public/backgrounds/line1.svg');
//   background-position: bottom center;
//   background-repeat: no-repeat;
//   background-size: cover;

//   @include lg {
//     grid-template-columns: repeat(4, 1fr);
//     background-image: url('../../../public/backgrounds/waves-updated.svg');
//     background-size: cover;
//     background-position: center;
//   }
// }

/* Animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

/*  Styling  */
.slider {
  padding: 9rem;
  background: $dark-gray;
  height: auto;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slide a {
  height: 50px;
  width: 50px;
}

.slider:before,
.slider:after {
  // background: linear-gradient(
  //   to right,
  //   rgba(255, 255, 255, 1) 0%,
  //   rgba(255, 255, 255, 0) 100%
  // );
  // content: '';
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider:after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider:before {
  left: 0;
  top: 0;
}
.slide-track {
  animation: scroll 20s linear infinite;
  display: flex;
  width: 100px;
  // width: calc(250px * 14);
}

.slide {
  scale: 1.75;
  padding: 0 52px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include lg {
    scale: 2;
    padding: 0 62px;
  }

  @include xl {
    scale: 2.25;
    padding: 0 67px;
  }
}

.partners.light .logos-wrapper {
  // background: rgba($color: $light-mode-secondary, $alpha: 0.1);
}

.slider div {
  // max-width: clamp(7rem, 10vw + 1rem, 10rem);
  width: 100%;
}

.img-wrapper {
  display: block;
}

.sercor,
.vechain {
  max-width: 4rem !important;
  width: 100% !important;
  // max-height: 3rem;
}

.maerki,
.caag,
.saynode,
.safehaven,
.crypto-valley,
.vechain,
.red4sec {
  filter: brightness(0) invert(1);
}

.light .maerki,
.light .red4sec,
.light .caag,
.light .saynode,
.light .crypto-valley,
.light .synaps,
.light .safehaven,
.light .niedermuller,
.light .vechain {
  filter: brightness(0);
}

.light .cv-labs,
.light .sercor {
  filter: invert(1);
}
