@use '../../../styles/breakpoints' as *;
@use '../../../styles/colors' as *;
@use '../../../styles/variables' as *;

.method-card {
  position: relative;
  height: 224px;
  // background: #000000;
  // border: solid 1px $ln-blue;
  // background-image: url('../../../public/icons/border-gradient-right.svg');
  background-size: contain;
  background-repeat: no-repeat;
  // background-position: right;
  width: 100%;
  min-height: 224px;

  @include lg {
    min-height: $card-height;
    max-width: 510px;
    padding: 17px;
    max-height: $card-height;
  }
}

// .right-content .method-card:nth-last-of-type(even) {
//   background-position: left;
//   background-image: url('../../../public/icons/border-gradient-left.svg');
// }

// .left-content .method-card {
//   background-position: right;
//   background-image: url('../../../public/icons/border-gradient-right.svg');
// }

.inner-content {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 1.75rem;
  flex-direction: column;
  padding: 1.5rem;
  // gap: 1rem;
  width: 100%;
  height: 100%;
  border-width: 0.5px;
  border-radius: 8px;
  border-style: solid;
  border-color: transparent;
  background: linear-gradient(#000000 70%, #000000 70%) padding-box,
    linear-gradient(to bottom left, #1960ea, #ffffff) border-box;
}

// .card-border {
//   position: relative;
// }

.image-border {
  position: absolute;
  height: 259px;
  transform: translate(61px, -27px) rotate(180deg);
}

// .card-border img:nth-child(odd) {
//   position: absolute;
//   height: 259px;
//   background: red;
//   transform: translate(61px, -27px);
// }

// .image-border:nth-child(even) {
// }

// .method-card:nth-child(odd) {
//   background: linear-gradient(#000000 30%, #000000 30%) padding-box,
//     linear-gradient(270deg, #1960ea, #000000) border-box !important;
// }

// .method-card:nth-child(even) {
//   @include lg {
//     transform: translateY(6.5rem);
//   }
//   // margin-top: 5rem;
// }

// .method-bullets {
//   list-style-type: none;
// }

.method-title {
  @include lg {
    padding-bottom: 1rem;
    font-size: 24px;
  }

  @include xl {
    font-size: 30px;
  }
  // padding-bottom: 1rem;
}

.method-description {
  @include lg {
    line-height: 1.4;
  }
}
