@use '../../../styles/breakpoints' as *;
@use '../../../styles/colors' as *;
$news-cell-height: 8rem;
$news-cell-width: 6.5rem;
$news-cell-gap: 0.5rem;

.news-letter {
  text-align: center;
  padding-bottom: 0rem;

  @include md {
    padding-bottom: 4rem;
  }
}

.news-letter.light {}

.news-letter.light img {
  filter: invert(1);
}

.news-letter>div:last-of-type {
  padding: 4rem 0;
}

.news-letter h4,
.map h4 {
  font-size: 1.4rem;
  text-transform: capitalize;
  font-family: 'Montserrat', serif;
  margin-bottom: 1rem;
}

.news-letter p {
  font-size: 0.9rem;
  max-width: 50ch;
  margin: 0 auto;
  font-weight: 300;

  @include md {
    font-size: 1.1rem;
  }
}

.news-letter form {
  display: flex;
  flex-direction: column;
  margin: 1rem auto 0;
  gap: 0.5rem;
  max-width: 57rem;
  justify-content: center;
  align-items: center;

  @include md {
    margin: 2rem auto 0;
    flex-direction: row;
  }
}

.news-letter input {
  width: 100%;
  // border-radius: 8px;
  font-size: 1rem;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid $gray--15;
  color: white;
  padding: 1rem 0.75rem;
}

.news-letter.light input {
  border: 1px solid rgb(75, 75, 75);
  color: rgb(75, 75, 75);
}

.news-letter input::placeholder {
  color: white;
}

.news-letter.light input::placeholder {
  color: rgb(75, 75, 75);
}

.news-letter button {
  padding: 1.1rem 2rem;
  max-width: 12rem;
  margin-top: 0;
}