@use '../../../styles/breakpoints' as *;
@use '../../../styles/colors' as *;
@use '../../../styles/buttons' as *;
@use '../../../styles/variables' as *;

.section {
  padding-top: 8rem;
  position: relative;

  background: linear-gradient(transparent 60%, rgba($color: $ln-blue, $alpha: 0.2));
  & > div:last-of-type {
    position: relative;
  }
  
  h3 {
    max-width: 40ch;
    padding-bottom: 4rem;
  }

  h4 {
    font-family: 'din condensed', serif !important;
    font-size: clamp(1.75rem, 5vw, 2.25rem);
  }
  
  p {
    color: $gray;
    max-width: 40ch;
  }

  .solution {
    padding: 1rem 0 0 0;
  }

  .question {
    padding-bottom: 2rem;
  }

  button {
    max-width: 16rem;
  }

  .staff {
    position: absolute;
    max-width: 40%;
    // top: 50%;
    top: 20%;
    right: 10%;
    // z-index: 1;
  }

  .circles {
    top: 0;
    right: 0;
  }
}

.section.light {
  background: linear-gradient(transparent 60%, rgba($color: $light-mode-primary, $alpha: 1));
  & > div:last-of-type {
    background: none;
      position: relative;
    }
  p {
    color: $gray-dark;
  }
}
