@use '../../../styles/breakpoints' as *;
@use '../../../styles/colors' as *;
@use '../../../styles/buttons' as *;
@use '../../../styles/variables' as *;

.section {
  padding-top: 8rem;
  background: linear-gradient(transparent 60%, rgba($color: $ln-blue, $alpha: 0.2));
  
  h3 {
    max-width: 40ch;
    padding-bottom: 2rem;
  }

  h4 {
    font-family: 'din condensed', serif !important;
    font-size: clamp(1.75rem, 5vw, 2.25rem);
  }
  
  p {
    color: $gray;
    max-width: 40ch;
  }

  .solution {
    padding: 1rem 0 0 0;
  }

  .question {
    padding-bottom: 2rem;
  }

  button {
    max-width: 16rem;
  }
}

.section.light {
  background: linear-gradient(transparent 60%, rgba($color: black, $alpha: 0.2));
  
  p {
    color: $gray-dark;
  }
}
