@use '../../../../styles/breakpoints' as *;
@use '../../../../styles/colors' as *;
@use '../../../../styles/variables' as *;

.method-card {
  position: relative;
  height: 224px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 224px;

  @include lg {
    min-height: $card-height;
    min-width: 510px;
    max-width: 510px;
    padding: 17px;
    max-height: $card-height;
  }
}

.inner-content {
  width: 70%;
  margin: 0 auto;
  padding: 0 0.5rem !important;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 1.75rem;
  flex-direction: column;
  padding: 1.5rem;
  height: 100%;
  border-width: 0.5px;
  border-radius: 8px;
  border-style: solid;
  border-color: transparent;
  background: linear-gradient(#000000 70%, #000000 70%) padding-box,
    linear-gradient(to bottom left, #1960ea, #ffffff) border-box;

  @include sm {
    padding: 0 1.5rem !important;
  }

  @include lg {
    width: 100%;
  }
}

.light.inner-content {
  background: linear-gradient($transparent-light, $transparent-light)
      padding-box,
    linear-gradient(to bottom left, $transparent-light, $transparent-light)
      border-box;
}

.image-border {
  position: absolute;
  height: 259px;
  transform: translate(61px, -27px) rotate(180deg);
}

.method-title {
  @include lg {
    padding-bottom: 1rem;
    font-size: 1.75rem;
  }

  @include xl {
    font-size: 2.25rem;
  }
}

.method-description {
  @include lg {
    line-height: 1.4;
  }
}
