@use '../../../styles/breakpoints' as *;
@use '../../../styles/colors' as *;
@use '../../../styles/variables' as *;

.wrapper {
  position: relative;
  z-index: 1;
}

.wrapper h2 {
  text-align: center;
}

.body {
  color: $gray--14;
  padding-top: 1rem;
}

.light .body {
  color: $light-mode-text-color;
}

.body p {
  font-size: 1.15rem;
}

.body strong {
  color: white;
}

.light .body strong {
  color: $light-mode-text-color;
}

.body ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;

  @include md {
    gap: 2rem;
    padding-top: 1.5rem;
  }
}

.body li {
  list-style: none;
  padding-left: 1.15rem;
  position: relative;
  color: $gray--15;
  line-height: 2.75ch;
}

.light .body li {
  color: $light-mode-text-color;
}

.body li::before {
  content: '';
  position: absolute;
  top: 0.90rem;
  left: 0;
  transform: translate(0, -50%);
  width: 0.55rem;
  height: 0.55rem;
  background: $gray--10;
  border-radius: 50%;
}