@import '../../../styles/variables';

.apexcharts-legend {
  justify-content: center !important;
  gap: 1rem;
  top: 0 !important;
}

.apexcharts-legend span{
  color: #eee !important;
}

.App.light .apexcharts-legend span{
  color: rgb(31, 31, 31) !important;
}

.chart-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // transform: translateX(-10vw);
}

.chart-content {
  // position: absolute;
  display: grid;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translateX(0vw);
  // transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.05);
  // padding: clamp(1rem, 10vw + 1rem, 4rem);
  padding: clamp(1rem, 10vw + 1rem, 4rem) clamp(1rem, 10vw + 1rem, 8rem);
  // min-width: clamp(16rem, 20vw + 10rem, 48rem);
  // min-width: 16rem;
  max-height: 28rem;
  width: 100%;
  max-width: 50rem;
  // max-width: 75vw;
  border-radius: 8px;
}

.light .chart-content {
  background: rgba(0, 0, 0, 0.1);
}

.chart-content h3 {
  font-size: clamp(2.5rem, 10vw + 1rem, 4rem);
}

.chart-content h4 {
  font-family: 'din condensed', serif !important;
  font-size: clamp(2.25rem, 10vw + 1rem, 3.5rem);
}

.chart-content a {
  // display: inline-block;
  // background: $ln-blue;
  // font-size: 0.75rem;
  // padding: 0.75rem 1.25rem;
  // margin-top: 2rem;
  // border-radius: 6px;
  // color: white;
}

.donut {
  transition: rotate 0.3s ease-in-out;
  position: relative;
  overflow: visible !important;
}

.donut-wrapper {
  // transform: translateX(-18vw);
  position: relative;
  z-index: 1;
  // min-width: 40vw !important;
  min-width: 16rem;
  margin: 1rem;
  margin-bottom: 4rem;
  // scale: 1.5;
}

.donut-wrapper::before {
  transform: translate(-50%, -50%);
}

.donut-segment {
  // color: gray;
  // stroke: gray;
}

.donut-segment text {
  font-size: 0.1rem;
}

.active {
  // fill: red !important;
  stroke-width: 12;
}

.donut g.active text {
  font-size: 0.3rem;
}

.arrow {
  display: inline-block;
  position: absolute;
  max-width: 8rem;
  height: min-content;
  cursor: pointer;
  bottom: -2rem;
}

svg.arrow {
  fill: $dark-mode-text-color;
}

.light svg.arrow {
  fill: $light-mode-text-color
}

.arrow.left {
  left: -10%;
  transform: scaleX(-1) translateX(-20%) ;
  rotate: 60deg;
}

.arrow.right {
  right: -10%;
  transform: translateX(-20%) ;
  rotate: -60deg;
}

@media only screen and (min-width: 768px) {
  .chart-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
  }
  
  .donut-wrapper {
    margin: 0;
    min-width: 30rem;
    transform: translateX(-45%);
  }
  
  .chart-content {
    transform: translateX(-40%);
  }

  .arrow {
    display: inline-block;
    position: absolute;
    max-width: 8rem;
    height: min-content;
    cursor: pointer;
    // bottom: -10rem;
    top: auto;
    right: 20%;
  }
  
  svg.arrow {
    fill: $dark-mode-text-color;
  }
  
  .light svg.arrow {
    fill: $light-mode-text-color
  }
  
  .arrow.left {
    // left: 20%;
    transform: scaleX(1) translateX(-20%) ;
    rotate: 180deg;
    top: -20%;
    left: auto;
    // top: 20%;
  }
  
  .arrow.right {
    right: 20%;
    transform: translateX(-20%) ;
    transform: scaleX(-1);
    rotate: -0deg;
    left: auto;
    bottom: -20%;
  }
}

@media only screen and (min-width: 768px) {
  .chart-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
  }
  
  .donut-wrapper {
    margin: 0;
    min-width: 30rem;
    transform: translateX(-45%);
  }
  
  .donut-wrapper::before {
    content:'';
    background: $dark-background;
    height: calc(100% + 5rem);
    aspect-ratio: 1;
    // width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-40%, -50%);
    // z-index: 1;
  }

  .light .donut-wrapper::before {
    background: $light-mode-waves-color;
  }
  
  .chart-content {
    transform: translateX(-28%);
  }
}