@use '../../../styles/variables' as *;
@use '../../../styles/breakpoints' as *;
@use '../../../styles/colors' as *;

.panel-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  width: 100%;
  // text-align: center;

  @include breakpoint(1120px) {
    grid-template-columns: 1fr 1fr;
    text-align: left;
  }
}

.left-content,
.right-content {
  display: flex;
  align-items: center;
  flex: 1;
  height: 100%;
  align-items: center;
  // margin: 0 auto;
}

.nft-button-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  // padding-top: 4rem;

  @include sm {
    transform: translateY(-1.5rem);
  }
}

.arrow-wrapper {
  background: transparent;
  border: none;
  width: 100%;
  max-width: 1.25rem;
}

.arrow-left-wrapper {
  background: transparent;
  border: none;
  width: 100%;
  max-width: 1.25rem;
}

.arrow-right-wrapper {
  background: transparent;
  border: none;
  width: 100%;
  max-width: 1.25rem;
}

.arrow-left {
  display: block;
  // position: absolute;
  left: 2.5rem;
  top: 25.85rem;
}

.arrow-right {
  display: block;
  // position: absolute;
  left: 19.5rem;
  top: 25.85rem;
}

.slide-wrapper {
  width: 100%;
}

.slide {
  scale: 1.2;
  transform: translateY(-1.5rem);
  padding-top: 5rem;
}

.slide-text {
  text-align: center;
}

.circle-slider-wrapper {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding-top: 1rem;
}

.circle-slider {
  background: $gray--8;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: block;
  // border: solid 1px white;
}

.light .circle-slider {
  background: $light-mode-primary;
}

.circle-active {
  background: white;
}

.light .circle-active {
  background: $sky-blue;
}
