@use '../../../styles/breakpoints' as *;
@use '../../../styles/colors' as *;
@use '../../../styles/variables' as *;

.grid {
  display: grid;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  // min-height: 24rem;
  // overflow: visible;
  grid-template-columns: repeat(3, 1fr);
  max-width: 50rem;
  margin: 0 auto;

  @include sm {
    // min-height: 22rem;
  }

  @include md {
    grid-template-columns: repeat(4, 1fr);
    // min-height: 10rem;
    gap: 1rem;
  }

  @include lg {
    // grid-template-columns: repeat(5, 1fr);
    // min-height: 10rem;
    // gap: 10rem;
  }
}

.wrapper>button {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% 50%;
  z-index: 1;
}

.grid[data-has-started="false"] {
  filter: brightness(0.3);
}