@use '../../../styles/breakpoints' as *;
@use '../../../styles/colors' as *;
@use '../../../styles/variables' as *;

.grid {
  display: grid;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  // min-height: 24rem;
  // overflow: visible;
  grid-template-columns: repeat(3, 1fr);
  max-width: 50rem;
  margin: 0 auto;

  @include sm {
    // min-height: 22rem;
  }

  @include md {
    grid-template-columns: repeat(4, 1fr);
    // min-height: 10rem;
    gap: 1rem;
  }

  @include lg {
    // grid-template-columns: repeat(5, 1fr);
    // min-height: 10rem;
    // gap: 10rem;
  }
}

.wrapper > button {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% 50%;
  z-index: 1;
}

// .grid[data-has-started="false"] {
//   filter: brightness(0.3);
// }

.spear {
  translate: 0 -50%;
  position: absolute;
  top: 50%;
}

.spear:first-of-type {
  left: -58%;
  scale: 0.8;
  rotate: -90deg;
}

.spear:last-of-type {
  right: -58%;
  scale: 0.8;
  rotate: 90deg;
}

.start,
.restart {
  max-width: 0.8rem;
}

.wrapper button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 5px solid #164299;
  border-radius: 2.5rem;
  display: flex;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
}
