@use '../../styles/variables' as *;
@use '../../styles/breakpoints' as *;
@use '../../styles/colors' as *;

.wrapper {
  background: $gray--2;
}

.light.wrapper {
  background: $semi-transparent-blue;
}

.wrapper h2 {
  text-align: center;
  padding-bottom: 4rem;
}

.cards-wrapper {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  @include md {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
  }

  @include lg {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20ch;

  @include lg {}
}

.card img {
  // max-width: 10rem;
  display: block;
  margin: 0 auto 0.5rem;
  max-height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:first-of-type img {
  scale: 0.8;
}

.card:nth-of-type(2) img {
  scale: 0.9;
}

.text-wrapper {
  display: grid;
  text-align: center;
  gap: 0.65rem 0;
}

.text-wrapper span {
  // font-size: 1.125rem;
}

.text-wrapper .percentage {
  color: $blue--2;
}

.text-wrapper p {
  color: $gray;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.img-wrapper img {
  // width: 60% !important;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}