@use '../../styles/variables' as *;
@use '../../styles/breakpoints' as *;
@use '../../styles/colors' as *;

.wrapper {
  margin-top: 8rem;
  margin-bottom: -4rem;
}

.light.wrapper {
  h4 {
    color: $light-mode-secondary;
  }
}

.wrapper h2 {
  text-align: center;
  padding-bottom: 8rem;
}

.cards-wrapper {
  // display: grid;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;

  // @include md {
  //   grid-template-columns: repeat(3, 1fr);
  // }

  // @include lg {
  //   grid-template-columns: repeat(4, 1fr);
  // }

  // @include xl {
  //   grid-template-columns: repeat(5, 1fr);
  // }
}

.card {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  width: 30%;
  min-width: 20rem;
  max-width: 21rem;

  @include xl {
    min-width: 10rem;
    max-width: 13rem;
  }
}

.img-wrapper {
  max-width: 5.75rem;
  // min-width: 4rem;
  // aspect-ratio: 1 / 1;
  // background: rgba(239, 228, 252, 0.1);
  // border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:nth-of-type(1) .img-wrapper,
.card:nth-of-type(2) .img-wrapper {
  max-width: 4.5rem !important;
}

.text-wrapper {
  text-align: center;
}

.text-wrapper h5 {
  color: white;
  padding-top: 0.5rem;
}

.text-wrapper p {
  color: $blue--2;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.text-wrapper span {
  color: $gray;
}

.light .img-wrapper {
  background: $transparent-dark;
}

.img-wrapper img {
  // width: 60% !important;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
