@use '../../../styles/breakpoints' as *;
@use '../../../styles/colors' as *;
@use '../../../styles/variables' as *;

.wrapper {
  text-align: center;
  padding-top: 4rem;
  position: relative;
}

.hammer {
  position: absolute;
  top: 10%;
  left: -14rem;
}

.spikes {
  position: absolute;
  top: 65%;
  right: -5rem;
}

.wrapper:nth-of-type(2n)>div:first-of-type {
  @include md {
    order: 1;
  }
}

.wrapper[data-reverse="true"]:nth-of-type(2n - 1)>div:first-of-type {
  @include md {
    order: 1;
  }
}

.wrapper[data-reverse="true"]:nth-of-type(2n)>div:first-of-type {
  @include md {
    order: -1;
  }
}


.top {
  position: relative;
}

.spear.spear {
  // position: absolute;
  margin: 2rem 0 1rem;

  // width: 86% !important;
  max-width: 50rem !important;
}

.spear:first-of-type {
  // inset: 4rem 0 0 0;
  top: 4rem;
  left: 0;
}

.spear:last-of-type {
  scale: -1 1;
}