@use '../../../styles/breakpoints' as *;
@use '../../../styles/colors' as *;
@use '../../../styles/variables' as *;

.wrapper {
  text-align: center;
  padding-top: 4rem;
  position: relative;
  z-index: 1;
}

.top {
  text-align: left;

  @include md {
    text-align: center;
  }
}

.top p {
  padding-bottom: 4rem;

  @include md {
    padding-bottom: 0;
  }
}

.hammer {
  position: absolute;
  top: 0;
  left: auto;
  scale: -1 1;
  right: -4rem;

  @include md {
    scale: 1;
    top: 10%;
    left: -14rem;
    right: auto;
  }
}

.spikes {
  display: none;

  @include md {
    display: block;
    position: absolute;
    top: 65%;
    right: -5rem;
  }
}

.wrapper:nth-of-type(2n)>div:first-of-type {
  @include md {
    order: 1;
  }
}

.wrapper[data-reverse="true"]:nth-of-type(2n - 1)>div:first-of-type {
  @include md {
    order: 1;
  }
}

.wrapper[data-reverse="true"]:nth-of-type(2n)>div:first-of-type {
  @include md {
    order: -1;
  }
}


.top {
  position: relative;
}

.spear.spear {
  // position: absolute;
  display: none;

  @include md {
    display: block;
    margin: 2rem auto 1rem;
    max-width: 50rem !important;
  }

}

.spear:first-of-type {
  // inset: 4rem 0 0 0;
  top: 4rem;
  left: 0;
}

.spear:last-of-type {
  scale: -1 1;
}

.revealed-cards-wrapper {
  display: grid;
  gap: 2rem;
  background: $gray--2;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  margin-top: 4rem;
  display: none;

  @include sm {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }

  @include md {
    margin-top: 0;
  }

  @include lg {
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.revealed-cards-wrapper[data-show="true"] {
  display: grid;
}

.reveal-card {
  // display: none;
}

.reveal-card img {
  max-height: 6rem;
}

.reveal-card[data-reveal="true"] {
  display: block;
}