@use '../../../styles/breakpoints' as *;
@use '../../../styles/colors' as *;
@use '../../../styles/variables' as *;

.wrapper {
  text-align: center;
  padding-top: 4rem;
  position: relative;
}

.top {
  text-align: left;

  @include md {
    text-align: center;
  }
}

.top p {
  padding-bottom: 4rem;

  @include md {
    padding-bottom: 0;
  }
}

.hammer {
  position: absolute;
  top: 0;
  left: auto;
  scale: -1 1;
  right: -4rem;

  @include md {
    scale: 1;
    top: 10%;
    left: -14rem;
    right: auto;
  }
}

.spikes {
  display: none;

  @include md {
    display: block;
    position: absolute;
    top: 65%;
    right: -5rem;
  }
}

.wrapper:nth-of-type(2n)>div:first-of-type {
  @include md {
    order: 1;
  }
}

.wrapper[data-reverse="true"]:nth-of-type(2n - 1)>div:first-of-type {
  @include md {
    order: 1;
  }
}

.wrapper[data-reverse="true"]:nth-of-type(2n)>div:first-of-type {
  @include md {
    order: -1;
  }
}


.top {
  position: relative;
}

.spear.spear {
  // position: absolute;
  display: none;

  @include md {
    display: block;
    margin: 2rem 0 1rem;
    max-width: 50rem !important;
  }

}

.spear:first-of-type {
  // inset: 4rem 0 0 0;
  top: 4rem;
  left: 0;
}

.spear:last-of-type {
  scale: -1 1;
}