@use '../../../styles/breakpoints' as *;
@use '../../../styles/colors' as *;
@use '../../../styles/buttons' as *;
@import '../../../styles/variables';

.wrapper {
  background: #050505;
}

.wrapper h5 {
  // padding: 1rem 0;
  font-size: 1.25rem;
}

.text-wrapper {
  text-align: center;

  @include md {
    text-align: left;
  }
}

.text-wrapper h2 {
  padding-bottom: 1rem;
}

.text-content {
  display: flex;
  gap: 4rem;
}

.text-section {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.text-section p {
  color: $blue--2;
  font-weight: bold;
  font-family: 'fjalla', serif;
  font-size: 1.5rem;
}

.light .text-section {
  color: #62688f !important;
}

.light .text-section h3 {
  color: #62688f !important;
}
