@use '../../styles/variables' as *;
@use '../../styles/breakpoints' as *;

.wrapper circle {
  // fill: red;
  position: relative;
  animation: pulse 1s ease-in-out infinite forwards;
}

.wrapper svg image {
  display: none !important;
}

.wrapper svg::before {
  // // fill: red;
  // content: 'testsetset';
  // // position: absolute;
  // display: inline-block;
  // top: 50%;
  // left: 50%;
  // // transform: translate(-50%, -50%);
  // background: rgba($color: white, $alpha: 1);
  // width: 8rem;
  // height: 8rem;
  // // animation: pulse 1s ease-in-out infinite forwards;
}

@keyframes pulse {
  0% {
    width: 0rem !important;
    height: 0rem;
    // scale: 1;
  }
  
  100% {
    width: 8rem !important;
    height: 8rem;
    // scale: 1.5;
  }
}

.wrapper circle:hover {
  // fill: red;
}

.wrapper {
  margin-top: 8rem;
  margin-bottom: -4rem;
}

.light.wrapper {
  h4 {
    color: $light-mode-secondary
  }
}

.wrapper h3 {
  text-align: center;
}

.illustration-wrapper {
  position: relative;
  max-width: 30rem;

  @include md {
    max-width: 40rem;
  }
  margin: 0 auto;
}

.text-wrapper {
  text-align: center;
  position: absolute;
  width: 37%;
  min-height: 6rem;
  top: 28%;
  left: 49%;
  background: rgba($color: #ffffff, $alpha: 0.05);
  transform: translate(-50%, 0%);
  padding: 0.5rem;
  @include sm {
    min-height: 9rem;
  }

  @include md {
    min-height: 12.25rem;
  }
}

.light .text-wrapper {
  background: $transparent-light;
}

.text-wrapper h4,
.text-wrapper p {
  // max-width: 80%;

}

.text-wrapper p {
  // max-width: 80%;
  font-size: 0.75rem;
}