@use '../../../styles/breakpoints' as *;
@import '../../../styles/variables';

.wrapper {
  // background-image: radial-gradient(circle farthest-side at 100% 50%, rgba($ln-blue, 0.2), transparent 30%);
}

.light.wrapper {
  // background-image: radial-gradient(circle farthest-side at 100% 50%, rgba(black, 0.2), transparent 30%);
}

.text-wrapper {
  text-align: center;
  max-width: 75ch;
  margin: 0 auto;
  padding-bottom: 4rem;

  h3 {
    padding: 1rem 0;
  }
}

.button-wrapper {
  // display: flex;
  display: grid;
  justify-content: center;
  position: relative;
  max-width: 768px;
  margin: 0 auto;
  gap: clamp(1rem, 5vw, 2rem);
  flex-wrap: wrap;
  padding: 0 2rem 2rem;
  margin-top: 1.25rem;

  @include md {
    display: flex;
    justify-content: space-between;
    padding: 0 5rem 2rem;
  }
}

.button-wrapper p {
  @include md {
    width: 100%;
    min-width: 10rem;
  }
}

.button-wrapper p,
.button-wrapper a {
  width: 100%;
  max-width: 13rem;
  height: 3rem;
  margin: 0 auto;
}

.button-wrapper p:last-of-type {
  bottom: -4rem;
  left: 9rem;
}

.button-wrapper div {
  display: flex;
  justify-content: start;
  justify-items: center;
  align-items: flex-end;
}

.button-wrapper div a {
  // display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vesting {
  text-align: center;
  padding-top: 1rem;
  // transform: translateY(-75%);
}

.button-wrapper button,
.button-wrapper a {
  margin-top: 0;
}

@media only screen and (min-width: 768px) {
  .vesting {
    transform: translateY(-75%);
    padding-top: 0;
  }
}

.audit-report {
  display: inline-block;
  border: none;
  text-decoration: none;
  background: #1960ea;
  color: white;
  text-align: center;
  padding: 0.6rem 0;
  width: 100%;
  min-width: 12rem;
  max-width: 20rem;
  margin-top: 1.25rem;
  border-radius: 4px;
  font-size: 0.9rem;
  font-family: 'Montserrat', serif !important;
  font-weight: 600;
  text-transform: capitalize;
}

.coming {
  // width: 20rem;

  p:nth-child(2) {
    top: 97%;
    font-size: 0.8rem;
    left: 50%;

    @include md {
      margin: 0;
      font-size: 1rem;
      left: 68%;
      top: 100%;
    }

    @include md {
      font-size: 1rem;
      margin-left: auto;
    }
  }
}
