@use '../../styles/breakpoints' as *;
@import '../../styles/variables';

.image {
  @include md {
    scale: 1.6;
  }

  // @include breakpoint(1200px) {
  //   transform: translateX(7%);
  // }

  // @include breakpoint(1350px) {
  //   transform: translateX(23%);
  // }

  // @include xl {
  //   scale: 1.4;
  //   // margin-bottom: 1rem;
  //   transform: translateX(30%);
  // }
}

.waves-wrapper {
  position: absolute;
  top: 10%;
  scale: 4;
  object-fit: cover;

  @include md {
    scale: 2;
    transform: translateX(-9rem);
    transform: translateY(2rem);
  }

  @include lg {
    top: 10%;
    scale: 1.4;
    left: 90px;
    object-fit: cover;
  }
}