@use '../../../styles/breakpoints' as *;
@use '../../../styles/colors' as *;
@import '../../../styles/variables';

.wrapper {
  padding-top: 6rem;
  padding-bottom: 4rem;
}

.wrapper h2 {
  padding-bottom: 4rem;
}