.wrapper {
  margin-top: -14rem;
  margin-bottom: 4rem;
  position: relative;
}

.wrapper > div {
  gap: 2rem;
}

.wrapper img {
  // transform: none;
  max-width: 20rem !important;
}

.wrapper span {
  overflow: visible !important;
}

.circles {
  position: absolute;
  top: -100%;
  left: 0;
}

.logos {
  display: flex;
  padding: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.logos img {
  // width: 100% !important;
  // max-width: 4rem !important;
  // height: 8rem;
  width: auto !important;
  height: 100% !important;
  max-height: 4rem;
}