.wrapper {
  margin-top: -8rem;
  margin-bottom: 12rem;
}

.wrapper > div {
  gap: 2rem;
}

.wrapper img {
  // transform: none;
  max-width: 20rem !important;
}

.wrapper span {
  overflow: visible !important;
}