$gray--1: #050505;
$gray--2: #0D0D0D;
$gray--3: #121212;
$gray--4: #1D1D1D;
$gray--5: #222222;
$gray--6: #333333;
$gray--7: #444444;
$gray--8: #5a5a5a;
$gray--9: #666666;
$gray--10: #777777;
$gray--11: #888888;
$gray--12: #999999;
$gray--13: #aaaaaa;
$gray--14: #bbbbbb;
$gray--15: #cccccc;
$gray--16: #dddddd;
$gray--17: #eeeeee;

$blue--1: #0D2F89;
$blue--2: #1960EA;
$blue--3: #79A4F6;
$blue--4: #369FFF;
$blue-ln: #4683F9;

$green--1: #37FF05;

$red--1: #F64A4A;

$blue-gray--1: #61758A;

$gray: #a7a7a7;
$dark-gray: #121212;
$blue: #1e4fbc;
$sky-blue: #1960ea;
$gray-dark: #5a5a5a;
$light-blue: #8fe3f9;
$light-purple: #d9b8ff;
$white: #fafafa;
$bg-gradient-1: linear-gradient(90deg, #1d4ab2, #18419f);
$bg-gradient-2: linear-gradient(90deg, #511db2, #857f15);