$gray: #a7a7a7;
$blue: #1e4fbc;
$gray-dark: #5a5a5a;
$light-blue: #8fe3f9;
$light-purple: #d9b8ff;
$white: #fafafa;
$bg-gradient-1: linear-gradient(90deg, #1d4ab2, #18419f);
$bg-gradient-2: linear-gradient(90deg, #511db2, #857f15);
