$gray--1: #050505;
$gray--2: #0d0d0d;
$gray--3: #121212;
$gray--4: #1d1d1d;
$gray--5: #222222;
$gray--6: #333333;
$gray--7: #444444;
$gray--8: #5a5a5a;
$gray--9: #666666;
$gray--10: #777777;
$gray--11: #888888;
$gray--12: #999999;
$gray--13: #aaaaaa;
$gray--14: #bbbbbb;
$gray--15: #cccccc;
$gray--16: #dddddd;
$gray--17: #eeeeee;

$blue--1: #0d2f89;
$blue--2: #1960ea;
$blue--3: #79a4f6;
$blue--4: #369fff;
$blue-ln: #4683f9;

$semi-transparent-blue: rgba(
  $color: #cadbff,
  $alpha: 0.7,
);

$green--1: #37ff05;

$red--1: #f64a4a;

$blue-gray--1: #61758a;

$gray: #7a7a7a;
$dark-gray: #121212;
$blue: #1e4fbc;
$sky-blue: #1960ea;
$gray-dark: #5a5a5a;
$light-blue: #8fe3f9;
$light-purple: #d9b8ff;
$white: #fafafa;
$bg-gradient-1: linear-gradient(90deg, #1d4ab2, #18419f);
$bg-gradient-2: linear-gradient(90deg, #511db2, #857f15);
