$dark-background: #0d0e0e;
$dark-background--dark-1: #101111;
$dark-background--light-1: #141515;
$dark-background--light-2: #494949;
// $light-background: #dde3f9;
// $light-background: #F0F0F0;
$light-background: white;
$light-mode--dark-1: #DADADA;
$light-mode--dark-2: #CBCBCB;
$light-mode--dark-3: #BDBDBD;

// $light-mode-text-color: rgb(75, 75, 75);
$light-mode-text-color: #0D0E0E;
$dark-mode-text-color: white;

// $light-mode-waves-color: #dfeaff;
$light-mode-waves-start: #e9f2ff;
$light-mode-waves-color: #FEFEFF;
// $light-mode-waves-color: #d4ddf1;

$transparent-darker: rgba($color: black, $alpha: 0.4);
$transparent-dark: rgba($color: black, $alpha: 0.2);
// $transparent-light: rgba($color: white, $alpha: 0.05);
$transparent-light: rgba($color: #5480EA, $alpha: 0.1);

$light-mode-primary: white;
$light-mode-secondary: #5480EA;
$light-mode-tertiary: rgba($color: #CADBFF, $alpha: 0.7);

$ln-blue: rgb(30, 79, 188);