$dark-background: #0d0e0e;
$dark-background--dark-1: #101111;
$dark-background--light-1: #141515;
$dark-background--light-2: #494949;
// $light-background: #dde3f9;
$light-background: #F0F0F0;
$light-mode--dark-1: #DADADA;
$light-mode--dark-2: #CBCBCB;
$light-mode--dark-3: #BDBDBD;

// $light-mode-text-color: rgb(75, 75, 75);
$light-mode-text-color: #0D0E0E;
$dark-mode-text-color: white;

// $light-mode-waves-color: #dfeaff;
$light-mode-waves-color: #c9c9c9;
// $light-mode-waves-color: #d4ddf1;

$ln-blue: #1e4fbc;