$dark-background: #0d0e0e;
$light-background: #dde3f9;

$light-mode-text-color: rgb(75, 75, 75);
$dark-mode-text-color: white;

// $light-mode-waves-color: #dfeaff;
$light-mode-waves-color: #c9c9c9;
// $light-mode-waves-color: #d4ddf1;

$ln-blue: #1e4fbc;