@use '../styles/breakpoints' as *;
@use '../styles/colors' as *;

.waves-wrapper {
  position: absolute;
  top: 10%;
  scale: 4;
  object-fit: cover;

  @include md {
    scale: 2;
    transform: translateX(-9rem);
    transform: translateY(2rem);
  }

  @include lg {
    top: 10%;
    scale: 1.4;
    left: 90px;
    object-fit: cover;
  }
}

.header h4 {
  color: $gray--14;
}

.header img {
  scale: 0.8;
}