/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
} */
@import './variables';

#__next * {
  font-family: 'Montserrat', serif;
  /* transition:
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out,
    top 0.3s ease-in-out; */
}

.content-wrapper {
  background: $dark-background;
  color: white;
  position: relative;
  overflow: hidden;
}

.content-wrapper.light {
  background: $light-background;
  color: rgb(75, 75, 75);
}

#__next > .light,
#__next > .light a {
}

img {
  width: 100% !important;
  height: auto;
}

h2 {
  font-weight: 500;
  font-family: 'din condensed', serif !important;
  font-size: clamp(3rem, 5vw + 1rem, 4.5rem);
}

h3 {
  // font-size: clamp(1.4rem, 5vw, 2rem);
  font-family: 'din condensed', serif !important;
  font-size: clamp(2rem, 10vw, 3rem);
  font-weight: bold;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 2.75ch;
}

button {
  cursor: pointer;
  font-family: 'source sans pro', serif !important;
}

.button-blue {
  display: inline-block;
  border: none;
  text-decoration: none;
  background: linear-gradient(90deg, #1d4ab2, #18419f);
  color: white;
  padding: 0.4rem 0;
  width: 100%;
  max-width: 13rem;
  margin-top: 1.25rem;
  border-radius: 4px;
  font-size: 1.05rem;
  font-family: 'Source Sans Pro', serif !important;
  font-weight: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.apexcharts-legend {
  // flex-direction: column;
  display: grid !important;
  // margin-top: 16rem !important;
  justify-content: center !important;
}

.apexcharts-legend-text {
  color: white !important;
}

/* MUI */
.MuiTab-root {
  color: white;
  font-family: "din condensed", sans-serif;
  font-size: 1.2rem;
}

.MuiAccordionSummary-content.Mui-expanded {
  color: #154EE3 !important;
  background: transparent !important;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root.Mui-expanded {
  // margin: 0 !important;
  // background: transparent !important;
  color: #154EE3;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
  background: rgba(255, 255, 255, 0.05) !important;
  backdrop-filter: blur(15px) !important;
  border-radius: 10px !important;
  color: #CFCFCF !important;
  margin: 1rem 0;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root svg{
  color: #CFCFCF !important;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root.Mui-expanded svg{
  color: #154EE3 !important;
}

.MuiTabs-flexContainer button {
  flex: 1;
  color: #646464 !important;
  font-family: 'Montserrat', serif !important;
  font-size: 0.85rem !important;
  min-width: max-content;
}

.MuiTabs-flexContainer button.Mui-selected {
  color: #1657FF !important;
}

.MuiTabs-indicator {
  display: none;
}

@media (min-width: 480px) {
  .MuiTabs-indicator {
    display: block;
    background: #1657FF !important;
  }
}

@media (min-width: 768px) {
  .MuiTabs-flexContainer {
    overflow-x: hidden;
    gap: 0;
  }
}

@media (min-width: 1024px) {
  .MuiTabs-flexContainer button {
    font-size: 1rem !important;
  }
}

@media (min-width: 1280px) {
  .MuiTabs-flexContainer button {
    font-size: 1.2rem;
  }
}