@use '../styles/breakpoints' as *;
@import 'variables';

.container {
  padding: 0 2rem;
  background: $light-background;
  position: relative;
}

.clear-container-wrapper div {
  background: rgba(0, 0, 0, 0.4);
}

.hammer-wrapper {
  position: relative;
}

.hammer {
  display: none;

  @include md {
    display: block;
    position: absolute;
    // left: -10%;
    left: -8rem;
    max-width: 110%;
    z-index: 0;
    top: 15%;
  }

  @include lg {
    top: calc(40vh + 10vw);
  }
}

.hammer img {
  // transform: rotateZ(-55deg);
}

.list-wrapper li {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  text-align: left;

  @include md {
    font-size: 1rem;
  }

  @include lg {
    font-size: 1.2rem;
  }
}

.list-wrapper li span {
  font-size: 2rem;
  padding: 0 0.5rem 0 0;
  display: flex;
  font-weight: bolder;
}

.list-wrapper {
  list-style: none;
}

.clear-container-wrapper {
  background: linear-gradient(transparent, rgba($color: $ln-blue, $alpha: 0.2));
}

.light .clear-container-wrapper {
  background: linear-gradient(transparent,
      rgba($color: $light-mode-primary, $alpha: 0.2));
}