@use './variables' as *;

.intro {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper a {
  color: $ln-blue;
}

.wrapper {
  margin-bottom: 8rem;
}

.light a {
  color: $light-mode-secondary;
}