.swiper-pagination {
  text-align: left !important;
  transform: translateY(1.25rem) !important;
}

.swiper-pagination-bullets {
  bottom: -2px !important;
}

.swiper-pagination-bullet {
  border: 1px solid white;
}

.light .swiper-pagination-bullet {
  border: 1px solid #303030;
}

.light .swiper-pagination-bullet-active {
  background: #303030 !important;
}

.swiper-pagination-bullet-active {
  background: white !important;
}
