@use '../../../styles/breakpoints' as *;
@use '../../../styles/colors' as *;
@use '../../../styles/variables' as *;

.main-wrapper {
  position: relative;
  z-index: 1;
}

.cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.grid {
  min-height: 24rem;
  overflow: visible;

  @include sm {
    min-height: 22rem;
  }

  @include md {
    min-height: 10rem;
  }

  @include lg {
    min-height: 10rem;
  }
}

.grid:nth-of-type(2n)>div:first-of-type {
  order: -1 !important;
}

.grid h2 {
  // text-align: center;

  @include md {
    // text-align: left;
  }
}

.grid a {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 2rem;
  // margin: 1rem auto;

  @include md {
    // margin: 0;
    margin-top: 4rem;
  }
}

.en .card:nth-of-type(4) a {
  bottom: 3.5rem;
}

.de .card:nth-of-type(2) a {
  bottom: 0.25rem;
}

.de .card:nth-of-type(3) a {
  bottom: 0.25rem;
}

.de .card:nth-of-type(5) a {
  bottom: -1.25rem;
}

.card {
  background: transparent !important;
  // width: 62ch !important;
  // max-width: 75ch !important;
  // text-align: center;
  border-radius: 8px;
  padding: 0 !important;
}

.img-wrapper img {
  width: 100% !important;
  height: auto !important;
}

.card h4 {
  // font-size: 1.75rem !important;
  // font
  font-weight: 600;
  text-transform: capitalize !important;
  padding-bottom: 0.1rem;
}

.card p {
  // font-size: 0.9rem;
  padding-top: 0.5rem;
  color: $gray--14;
}

.fade-slider h4 {
  font-family: 'Fjalla', serif;
}

.fade-slider .swiper-horizontal>.swiper-pagination-bullets {
  bottom: -8px !important;
}

.fade-slider .swiper-pagination-bullet {
  border: 1px solid white;
}

.fade-slider .swiper-pagination-bullet-active {
  background: white !important;
}

.light .card p {
  color: $light-mode-text-color !important;
}

.circles-wrapper {
  position: absolute;
  top: 0;
  right: -16%;
  max-width: 28rem;
}

@media only screen and (min-width: 480px) {
  .cards-wrapper {
    margin-left: auto;
    margin-right: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .cards-wrapper {
    margin-left: auto;
    gap: 8rem;
    // max-width: 45ch;

    // margin-right: 8rem;
  }

  .card h4 {
    font-size: 2.25rem !important;
  }
}