@import '../../../styles/variables';

.card {
  height: 25rem;
  // width: 18rem;
  background: rgba(255, 255, 255, 0.05);
  overflow: visible;
  position: relative;
  border-radius: 12px;
  overflow-y: visible;
  overflow-x: visible;
}

.light .card {
  background: $transparent-light;
  color: #62688F;
}

.card h4 {
  padding-top: 1rem;
  text-align: center;
  max-width: 15ch;
  margin: 0 auto;
  font-size: 1.4rem;
  line-height: 2ch;
  font-weight: 500;
  font-family: 'din condensed', serif !important;
}

.card span{

  overflow: visible !important;
  max-width: 16rem;

}

.card h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 8rem;
  transform: translate(-50%, -50%);
}

.card img {
  position: static;
  height: auto !important;
  bottom: 0;
  left: 0;
}

@media only screen and (min-width: 768px) {
  .card span {
    position: absolute !important;
    left: -40% !important;
    bottom: -20% !important;
  }
  
  .card img {
    scale: 1.2;
  }
  
}